h1, h2, h3, h4, h5, h6 { font-family: 'Simonetta', cursive; }
h1 { font-size: 48pt; }
h2 { font-size: 36pt; }

body {
  font: 'Pontano Sans', sans-serif;
  margin: 0 auto;
  width: 48em;
  text-rendering: optimizeLegibility;
  -moz-font-smoothing:antialiased;
  -webkit-font-smoothing:antialiased;
  font-smoothing:antialiased;
}

fieldset {
  width: 210pt;
}

input {
  width:200pt;
  display:block;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

textarea {
  width:200pt;
  display:block;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}
